.container {
  width: 100vw;
  padding-left: 0px;
}

h2 {
    font-size: 1.5em;
}

h1 {
    font-size: 2em;
}

h3{
    font-size: 1em;
}
.header {
    display: inline-block;
}

div[id*='programs-'] {
    display: none;
}

div[id*='courses-'] {
    display: none;
}