{% extends "/snips/base.html" %} {% set currentPage = "programManagement" %} {% block body %}
<div id="wrapper">
  {% include "sidebar/programManagementSidebar.html" %}
  <script type="text/javascript" src="/static/js/local/sidebar.js"></script>
  <link rel="stylesheet" href="/static/css/sidebar.css" type="text/css" />
  <div id="page-wrapper">
{% include "snips/messages.html" %}
    <div class="container-fluid">
      <div class="row">
        <form action="\editProgram" method="post" id="programEditForm{{program.pID}}">
          <h2>{{program.name}}</h2>
          <h4>Change Program Chair(s)</h4>
          <input value={{program.PID}} id="PID" name="PID" hidden readonly="readonly" />
          <select class="selectpicker form-control" id="professors" name="professors[]" data-live-search="true" multiple>
              {% for user in users %}
                <option value="{{user.username}}"
                    {%for chair in programChairs[program.PID] %}
                      {% if chair == user %}
                        selected
                      {% endif %}
                    {% endfor %}
                >
                  {{user.firstName}} {{user.lastName}} ({{user.username}})
                </option>
              {% endfor %}
            </select>
          <!--</div>-->
          <input type="submit" class="btn btn-default pull-right" value="Submit" />
        </form>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
{% endblock %}
