{% extends "/snips/base.html" %}
{% set currentPage = "Courses" %}
{% block body %}
{# can't use currentPage because of scoping issues #}
{% set page = "Courses" %}
{% include 'snips/messages.html' %}
{# MY COURSES VIEW #}
<h1>{{current_term.term}} {{current_term.year}}</h1>
{% if my_courses is not none %}
  <h2>My Courses</h2>
  {% include "snips/tableHeader.html" %}
  {% for course in my_courses %}
    {% include "snips/coursesRows.html" %}  
  {% endfor %}
  {% include "snips/tableFooter.html" %}
{% else %}
   <h2>You have no courses.</h2>
{% endif %}

{# ADMIN VIEW #}
{%for division in divisions_to_programs %}
  <div class='header col-sm-12'>
      <h2>{{ division.name }} <a onclick='showPrograms("{{division.DID}}")'><span id='icon-{{division.DID}}' class="pull-right glyphicon glyphicon-plus" aria-hidden="true"></span></a></h2>
  </div>
  <div id='programs-{{division.DID}}'>
  {% for program in divisions_to_programs[division] %}
    <div style = "margin-left:25px;">
    <h3>{{ program.name}} <a onclick='showCourses("{{program.PID}}")'><span id='coursesIcon-{{program.PID}}' class="pull-right glyphicon glyphicon-plus" aria-hidden="true"></span></a></h3>
    <div id='courses-{{program.PID}}'>
    {% include "snips/tableHeader.html" %}
    {% for course in programs_to_courses[program.name] %}
      {% include "snips/coursesRows.html" %} 
    {% endfor %} 
    {% include "snips/tableFooter.html" %}
    </div>
    </div>
  {% endfor %}
  </div>
{% endfor %}

<script type="text/javascript" src="static/js/local/courses.js"></script>
{% endblock %}

