<link rel="stylesheet" href="/static/css/sidebar.css">
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            <li class="sidebar-brand">
                <a href="#" class=' head text-center'> Pick A Semester</a>
            </li>
            {% for semester in semesters %}
              <li>
                <a href="/archive/{{semester.SEID}}">{{semester.term}} {{semester.year}}</a>
              </li>
            {% endfor %}
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
