<!--The below line of code is jinja which is a template engine for python-->
<!-- If you want to learn more about jinja, refer to jinja documentation-->
{% extends "/snips/base.html" %}  
{% block body %}
{% set currentPage = "start" %} 
{% include 'snips/messages.html' %}
<div class="jumbotron">
  <h2>Welcome to Syllus, Berea College's Syllabus Management System. <br /> 
  At the beginning of each term, upload your syllabus for each course you teach.</h2>
</div >
{% if deadlines %}
  <table class="table table-bordered">
  <thead>
    <tr>
      <td class='tableHead'>Date</td>
      <td class='tableHead'>Deadline</td>
    </tr>
  </thead>
  {% for deadline in deadlines %}  
  {% if deadline.date >= today %} 
  <tr>
     <td>
       {% if deadline.date == today %} 
       <p>today</p> 
      {% endif %}
      <div>
        <p class="day">{{deadline.date.strftime('%d')}}</p>
      </div>
      <div class="month">
        <p>{{deadline.date.strftime('%b')}}</p>
      </div>
    </td> 
    <td>
      <table class="table table-hover table-bordered">
        <tr>
          <td>
            <div class='deadlineDisplay'>{{deadline.description}}</div>
            {% if isAdmin %}
            <a href="" data-toggle="modal" data-id="{{deadline.id}}" data-target="#deleteDeadline"><span class="glyphicon glyphicon glyphicon glyphicon-trash pull-right" aria-hidden="true"></span></a>
            <a href="" data-toggle="modal" data-description="{{deadline.description}}" data-id="{{deadline.id}}" data-target="#editDeadline"><span  class="glyphicon glyphicon glyphicon-edit pull-right" aria-hidden="true"></span></a> {% endif %}
          </td>
        </tr>
      </table>
      {% include "/admin/deleteDeadline.html" %} {% include "/admin/editDeadline.html" %}
    </td>
  </tr>
   {% endif %} {% endfor %}
</table> 
{% else %}
<h3>
  Upcoming deadlines will be posted here.
</h3>
{% endif %} 

{% if isAdmin %} 
  {% include "snips/createDeadline.html" %} 
{% endif %} 

<script type="text/javascript" src="/static/js/local/start.js"></script>

{% endblock %}